{% extends 'core/base.html'%} {% block title %}Checkout{% endblock %} {% block content %}
   
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-6">Checkout</h1>
  
    <form method="post" action="{% url 'checkout:process_payment' %}">
      {% csrf_token %}
  
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
        {% for item in cart_items %}
        <div class="bg-white p-4 rounded shadow">
          <img src="{{ item.image }}" alt="{{ item.name }}" class="rounded-md mb-4">
  
          <h2 class="text-xl font-semibold">{{ item.name }}</h2>
          <p class="text-gray-500">${{ item.price|floatformat:2 }}</p>
        </div>
        {% endfor %}
      </div>
  
      <div class="mt-6 p-6 bg-gray-100 rounded-xl">
        <h2 class="text-2xl">Order Summary</h2>
        <p class="text-gray-500">Total: ${{ total_price|floatformat:2 }}</p>
  
        <label for="name" class="block mt-4">Name</label>
        <input type="text" name="name" required class="border p-2 w-full">
  
        <label for="address" class="block mt-4">Mailing Address</label>
        <textarea name="address" required rows="4" class="border p-2 w-full"></textarea>
      </div>
  
      <div class="flex justify-between mt-6">
        <a href="{% url 'cart:view_cart' %}" class="text-blue-500">Return to Cart</a>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Proceed to Payment</button>
      </div>
    </form>
  </div>

{% endblock %}
    