{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl">About this project</h1>
    <h3 class="mb-12">PokéShop is a mock-up e-commerce website for buying and trading Pokémon cards. Users can browse, 
        filter, and search for specific cards while also having the option to list their own cards for sale. 
        Sellers and potential buyers can chat about specifics of any card for sale. A user can view all of 
        their messages in their inbox as well as view and manage their current cards for sale on their personal 
        dashboard. Buyers can leave feedback and reviews for sellers on their profile pages. New features coming soon!</h3>
    
    <h3 class="mb-6">This project was created by Sarah Kublin, a full stack developer, using Python, Django, Tailwind, and the <a href="https://pokemontcg.io/">Pokémon TCG API. </h3>
{% endblock %}
