{% extends 'core/base.html' %}

{% block title %}Privacy{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl">Privacy Policy</h1>
    <h3 class="mb-12">Lorem ipsum dolor sit amet. Ab dolorem omnis quo galisum nihil sit asperiores possimus ea vitae sunt qui vero molestias. 
        Sed assumenda voluptatum aut provident velit in odit impedit est facilis velit sed quidem odio At iure illo! Ea culpa 
        pariatur sit velit dignissimos est aperiam omnis qui officia quam ut iste reprehenderit! In molestiae voluptatibus 33 
        magnam nihil et porro laboriosam est expedita odit.

        Sit quod repudiandae ut dolorem quasi et quia odio sit velit aliquam. Et impedit omnis nam perferendis consequatur et
        rerum necessitatibus et sint soluta. Et recusandae nostrum eum rerum autem nam eius incidunt est asperiores dolorem. 
        Qui optio amet qui optio eveniet ut corrupti quasi.
        
        Ut quam atque qui incidunt enim aut accusantium repudiandae et nulla ducimus eum consectetur laboriosam. Qui sint maxime 
        eum tenetur labore et voluptatum iste quo consequuntur repudiandae! Aut distinctio sunt et voluptatem ipsum qui soluta praesentium?</h3>
{% endblock %}
