{% extends 'core/base.html' %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
        <h1 class="mb-6 text-3xl">Terms of Use</h1>
        <h3 class="mb-12">
            Pokem ipsum dolor sit amet Professor Elm Froslass Frillish Dusknoir Solrock Grumpig. Growl Graveler Walrein Helix Fossil Flygon Cloyster Zephyr Badge. Ut aliquip ex ea commodo consequat Abomasnow Serperior Crobat Seaking Spheal Buizel. Anim id est laborum Leech Seed Gothita Ducklett Steelix Raichu Vulpix. Body Slam Gothitelle Porygon2 Tirtouga Lairon Meowth Dusclops.
            
            Hydro Pump Marowak Fraxure Golem Zekrom Ultra Ball Celebi. Water Kirlia Archeops Kyogre Nurse Joy Growlithe Rotom. Dragon Rage I like shorts Hippopotas Vaporeon Body Slam Toxicroak Ash's mother. Quis nostrud exercitation ullamco laboris nisi Kingdra Glalie Giovanni Haunter Panpour Spearow. Hoenn MysteryBerry Claydol Solosis Mightyena Bayleef Nincada.
            
            Ash Cubchoo Tynamo Hypno Vulpix Heatmor Teddiursa. Mineral Badge Kabutops Hypno lorem ipsum dolor sit amet Persian Nincada Earthquake. Pika-pi Body Slam Torkoal Pignite Thunder Badge Vanillite Ruby. Anim id est laborum gotta catch 'em all Mirror Move Mareep Cofagrigus et dolore magna aliqua Youngster wants to fight. Strength Tentacool Youngster wants to fight Sand-Attack Deino Slowpoke Team Rocket.
            
            S.S. Anne Sandslash Bidoof Combee Vanillite Weezing Castform. Volcano Badge Cerulean City Oddish Gold Charizard Wobbuffet Blissey. Qui officia deserunt mollit Mawile Jesse Chansey searching far and wide Zephyr Badge Lampent. Earthquake Ice Berry Drowzee Glalie Celadon Department Store Bastiodon Phanpy. Vermilion City Silph Scope Youngster wants to fight Tepig Delibird Oshawott Magikarp used Splash.
            
            Thundershock Silcoon Chansey Lilligant Venomoth Bronzong Walrein. Flamethrower Electrode Mienshao Bulbasaur Turtwig but nothing happened Golurk. Charmeleon Teleport Combee Leaf Green Snorlax Arceus Youngster wants to fight. Venusaur Oshawott Vermilion City Jellicent Luvdisc Walrein gotta catch 'em all. Razor Leaf Golduck Arceus Minun Prinplup Duskull Dugtrio. </h3>
{% endblock %}
